@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

.billing {
  width: 60%;
  min-width: 300px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  padding: 2%;
  border: 4px solid black;
  font-family: "Space Mono", sans-serif;
  background-color: white;
  position: relative;
  margin: 5% auto;
}

.billingForm input[type="text"],
.billingForm input[type="email"],
.billingForm input[type="tel"] {
  border: none;
  border-bottom: 2px solid black;
  font-family: "Space Mono", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 1vw;
  margin-bottom: 20px;
  width: 100%;
}

.billingForm label {
  padding-top: 15px;
  padding-right: 10px;
  font-size: 1vw;
  text-transform: uppercase;
}

.billingForm input:focus {
  outline: none;
}

.billingForm .shortInput {
  max-width: 15%;
  border: none;
  border-bottom: 2px solid black;
  font-family: "Space Mono", sans-serif;
  letter-spacing: 0.2rem;
  text-align: center;
  outline: none;
  font-size: 0.8rem;
}

.shortInput {
  margin-right: 40px;
  margin-top: 7px;
}

.shortInput:focus {
  outline: none;
}
.ccContainer {
  width: 35%;
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  background-color: white;
  padding: 1%;
  font-family: "Space Mono", sans-serif;
  position: absolute;
  bottom: 80px;
  right: 80px;
  z-index: 2;
  overflow: auto;
  box-sizing: border-box;
}
.ccForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 2%;
  max-width: 500px; /* Set a max-width or a fixed width as you prefer */
  box-sizing: border-box;
}
.expiryCvvContainer {
  padding-top: 5px;
  display: flex;
  justify-content: start;
  align-items: flex-end;
}

.ccInput {
  border: none;
  border-bottom: 2px solid black;
  font-family: "Space Mono", sans-serif;
  letter-spacing: 0.2rem;
  font-size: max(0.8vw, 8px);
  width: 100%;
  box-sizing: border-box;
}

.inputContainer {
  padding-top: 25px;
  padding-right: 10px;
  font-size: 0.65rem;
}

.ccShortInput {
  max-width: 18%;
  border: none;
  border-bottom: 2px solid black;
  font-family: "Space Mono", sans-serif;
  letter-spacing: 0.2rem;
  text-align: center;
  outline: none;
  font-size: max(0.8vw, 8px);
}

.ccInput:focus {
  outline: none;
}

.ccShortInput:first-of-type {
  margin-right: 20px;
}
.ccButtonContainer {
  position: relative;
  width: 100%; /* Adjust the width as needed */
  height: 35px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.ccButton {
  position: absolute;
  right: 0; /* Aligns the button to the right */
  width: auto; /* Adjust the width as needed */
  height: 100%;
  background-color: #000;
  border: none;
  color: white;
  font-family: "Space Mono", sans-serif;
  font-size: max(1vw, 10px);
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s;
}

.ccButton::before {
  content: "Purchase";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -0.4rem;
  top: -0.4rem;
  background-color: #fefc00;
  border: 2px solid black;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-out;
}

.ccButton:hover::before {
  transform: translate(0.4rem, 0.4rem);
}

.ccButton:hover {
  background-color: transparent;
}

@media (max-width: 768px) {
  .billing {
    /* Adjust the width or other properties as needed for smaller screens */
    width: 100%;
    margin: 50px 0; /* Adjust top and bottom margin, remove side margins */
    padding: 50px 20px; /* Adjust padding for smaller screens */
  }

  .ccContainer {
    /* Adjust the position for smaller screens */
    position: static; /* This will place the ccContainer in the normal document flow */
    width: 100%;
    margin: 0 auto; /* Center the container */
    padding: 25px 20px; /* Adjust padding for smaller screens */
  }
}
