.calcMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
}

.calcContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #bfd0e0;
  border-color: #c9f9ff;
  border-style: solid;
  border-width: 8px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: auto;
  max-width: 90vw;
  margin: auto;
}

.calcDigits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  background-color: #90d7ff;
  padding: 10px;
  justify-items: center;
}

.calcDigits button {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  background: #b8b3be;
  font-size: 3vmin;
  max-width: 60px;
  max-height: 60px;
  border-style: outset;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.calcDigits button:active {
  background-color: #5dfdcb;
  border-style: solid;
  border-color: black;
  transform: scale(0.9);
}

.calcTotal input {
  text-align: right;
  width: 100%;
  height: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 4vmin;
}
