@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital@0;1&family=Julius+Sans+One&display=swap");

.container {
  max-width: 400px;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #cbe0f7;
  font-family: "Archivo Narrow", sans-serif;
  margin: 100px auto;
}

.title {
  font-family: "Julius Sans One", serif;
  font-size: 5vw;
  text-align: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  color: #c3f0fe;
  font-size: 2.5vw;
}

.signupInput {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #243655;
  color: #8ec3d4;
}

.button {
  display: flex;
  margin: 10px auto;
  padding: 10px;
  background-color: #c3f0fe;
  color: #060c25;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 0 20px 10px hsla(204, 70%, 53%, 0.5);
}
