.AppIconMain {
  position: relative;
  display: flex;
  justify-content: center;
}

.AppIcon {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center; /* Centers children vertically */
  align-items: center; /* Centers children horizontally */
  border-style: solid;
  border-color: #01354b;
  border-radius: 20%;
  border-width: 28px;
  width: 500px;
  height: 500px;
  overflow: hidden;
}

.sky {
  display: flex;
  background-color: #31cfd5;
  height: 40%;
  width: 100%;
  z-index: -1;
}

.orangeSky {
  display: flex;
  background-image: linear-gradient(#ffc58b, #ff9071 32%);
  height: 60%;
  width: 100%;
  z-index: -1;
}

.wavyLine {
  stroke: #01354b;
  stroke-width: 20;
  fill: none;
}

.waves {
  width: 100%;
  margin-left: -55px;
  margin-top: 23%;
  z-index: 2;
}

.mountain {
  position: absolute; /* Position it within .AppIcon */
  top: 74%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%) rotate(45deg); /* Adjust position and rotation */
  width: 350px; /* Adjust the size as needed */
  height: 350px; /* Adjust the size as needed */
  border-top: 26px solid #01354b; /* Top border */
  border-left: 26px solid #01354b; /* Left border */
  border-right: none; /* No right border */
  border-bottom: none; /* No bottom border */
  border-radius: 28px;
  background-color: #3be1a3;
  box-shadow: inset 0px 15px 0px rgba(0, 0, 0, 0.2); /* Add internal shadow to the top */
}

.snowCap {
  background-color: white;
  position: absolute;
  top: -1%; /* Center vertically */
  left: -1%; /* Center horizontally */
  transform: rotate(180deg);
  width: 80px; /* Adjust the size as needed */
  height: 80px; /* Adjust the size as needed */
  border-top: 27px solid #01354b; /* Top border */
  border-left: 27px solid #01354b; /* Left border */
  border-right: 1px solid #01354b; /* No right border */
  border-bottom: 1px solid #01354b; /* No bottom border */
  z-index: 1;
  border-top-left-radius: 14px;
}

.sun {
  position: absolute;
  top: 45px;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally by center */
  width: 130px;
  height: 130px;
  background-color: white;
  border-radius: 50%;
}
/* Add this to your existing CSS */
.sunRay {
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: white;
  border-radius: 50%;
}

/* Positioning the rays around the sun */
.topRay {
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.leftRay {
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
}

.rightRay {
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
}
